@model GBKingdom.Models.Gummi

@{
    ViewData["Title"] = "Add New Bear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span class="purpBarL"></span>
<span class="purpBarR"></span>
<h2>Create Bear</h2>
<hr />
<h4>Add a new Bear</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.name)
    @Html.TextBoxFor(model => model.name)
    @Html.LabelFor(model => model.cost)
    @Html.TextBoxFor(model => model.cost)
    @Html.LabelFor(model => model.originCountry)
    @Html.TextBoxFor(model => model.originCountry)
    <input type="submit" value="Add a new Bear" />
}
