@model IEnumerable<GBKingdom.Models.Gummi>

@{ 
    ViewData["Title"] = "Gummi Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="purpBarL"></span>
<span class="purpBarR"></span>
<h2>Current Gummmies</h2>
<div class="overflow">
<h4>@Html.DisplayNameFor(model => model.name)</h4>
    <main class="boxes">
        @foreach (var listGummi in Model)
        {
            <div class="box">
                @Html.DisplayFor(modelGummi => listGummi.name)
                <div class="linksInBox">
                    @Html.ActionLink("Edit this bear", "Edit", new { id = listGummi.id })<br />
                    @Html.ActionLink("Details of this bear", "Details", new { id = listGummi.id })<br />
                    @Html.ActionLink("Delete this bear", "Delete", new { id = listGummi.id })
                </div>
            </div>
        }
    </main>
<p>@Html.ActionLink("Add new Bear", "Create")</p>
</div>
